<%= form_for @list do |form| %>
	
	<p>Name:  <%= form.text_field :name, :size => 75 %></p>
	
	<p>Description: <%= form.text_field :description, :size => 67 %></p>
	
	<p><%= form.submit %></p>

<% end %>